/*Import Google Fonts*/

/****************************/

/* Preset codes toepasbaar voor elke pagina*/

* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  margin: 0;
}

.container {
  max-width: 75em;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
}

section {
  padding: 1em;
  width: 100%;
  margin: 0;
}

p {
  margin: 0;
  font-size: 1em;
  font-family: "Trebuchet MS";
}

img {
  width: 100%;
}

/****************************/

/****************************/

/*alle div class block/halfblock */

.ul {
  width: 33, 333%;
  display: : flex;
  flex-direction: row;
}

.halfblock {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.block {
  width: 100%;
  display: : flex;
  flex-direction: row;
}

/****************************/

/* Headings font en kleur */

h1, h2, h3 {
  font-family: "Trebuchet MS";
  color: #000;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

/****************************/

/* HEADER*/

header {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  z-index: 999;
}

header .halfblock:first-child img {
  width: 12.500em;
}

header .halfblock:last-child {
  position: relative;
}

header .halfblock:last-child img {
  padding: 0.8em;
}

header .halfblock:last-child a {
  background-color: #00D56E;
  border-radius: 50%;
  display: block;
  width: 3.125em;
  transition: 0.3s;
}

header .halfblock:last-child a:hover {
  background-color: #2800A0;
}

/****************************/

/*filter*/

.filter {
  background-color: #00D66C;
  color: #fff;
  min-height: 31.7em;
  border-radius: 1em;
  padding: 1em;
  border: 3px solid #000;
}
legend {

    font-weight: bold;
    font-size: 1.3em;
}
button{
  background-color: #FF3268;
  border-radius: 1em;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 3px #000;
  transition: 0.3s ease 0s;
  border-color: transparent;
}
button:hover {
  background-color: #D32C58;
}
/****************************/

/****************************/

/*+++++++INDEX PAGINA+++++++*/

/* SECTION 1*/

#index section:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/afbeeldingen/background1.jpg);
  background-position: center;
  background-size: cover;
  padding: 4.375em 0;
  min-height: 11.25em;
}

#index section:nth-child(2) h1 {
  padding: 0 15px;
  color: #fff;
}

/****************************/

/* SECTION 2*/

section:nth-child(3) {
  padding-top: 3.125em;
}

section:nth-child(3) .container {
  padding: 0 15px;
}

section:nth-child(3) .filter {
  display: none;
}

/*+++++++Searchbar+++++++*/

.searchbar {
  display: flex;
  flex-direction: row;
}

.halfblock:last-child {
  flex-direction: row-reverse;
}

/****************************/

/* SECTION 3*/

main {
  width: 75em;
}

main h2 {
  display: none;
}

main ul {
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 25em;
  padding: 1em;
}

label {
  display: block;
}
fieldset {
  border: none;
  padding: 0.5em 0em 1.5em;
}
section:nth-child(4) h2 {
  text-align: center;
  padding: 0 15px;
  color: #000;
}

section:nth-child(4) ul li {
  width: 50%;
  padding: 15px;
}
section:nth-child(4) ul li:first-child article {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(images/afbeeldingen/onverwoestbaar.jpg);
  background-size: cover;
  background-position: center;
}

section:nth-child(4) ul li article {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(images/afbeeldingen/background1.jpg);
  height: 15.000em;
  padding: 15px;
  text-align: center;
  position: relative;
  border: 3px solid #000;
  background-size: cover;
  transition: 0.3s ease 0s;
  border-radius: 1em;
  width: 100%;
}

section:nth-child(4) ul li article h3 {
  color: #fff;
}

section:nth-child(4) ul li article p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3e5d8;
  padding: 1.563em;
  border-radius: 0 0px 1em 1em;
  border-top: 2px solid #000;
}

section:nth-child(4) ul li article p a {
  background-color: #2800a0;
  border-radius: 1em;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 3px #000;
  transition: 0.3s ease 0s;
}

section:nth-child(4) ul li article p a:hover {
  background-color: #5E40B8;
}

/****************************/

/*+++++++    +++++++*/

/****************************/

/****************************/

/*+++++++inloggen++++++++*/

section:nth-child(2) {
  background-color: #00D66C;
  padding-bottom: 5em;
}
 section:nth-child(2) .halfblock {
   display: flex;
   flex-direction: column;
 }

 section:nth-child(2) .block .halfblock:first-child {

    border-radius: 1em 0em 0em 1em;

}
section:nth-child(2) .block .halfblock:last-child {

    border-radius: 0em 1em 1em 0em;

}
section:nth-child(2) .block {
  /*! background-color: #FFFFFF; */
  color: #000;
  padding: 1em;
  max-width: 62em;
  /*! float: none; */
  margin: 0 auto;
  min-height: 30.625em;
  padding-top: 5.000em;
  display: flex;
}

section:nth-child(2) .block .halfblock {
  background-color: #FFFFFF;
  min-height: 31.250em;
  padding: 1em 2em;
  padding-bottom: 3em;
}

section:nth-child(2) .block .halfblock:last-child {
  background-color: #F5F8FA;
  color: #000;
}
section:nth-child(2) input {
  padding: 0.9em;
  border-radius: 0.5em;
  margin-top: 1.2em;
  border-color: grey;
}
section:nth-child(2) hr {

    border-color: #f6f6f6;
    width: 100%;
    margin-bottom: 2.5em;
}
section:nth-child(2) label {

    display: grid;
    padding: 1em 0em;

    font-weight: bold;
    color: #000;
}
section:nth-child(2) h1 {
  color: #2800a0;
}
section:nth-child(2) fieldset {
  color: transparent;
}
section:nth-child(2) .wwvergeten {

    padding-bottom: 2.5em;

}
section:nth-child(2) fieldset p {

    color: #3e3e3e;
    font-style: italic;
    font-size: 0.8em;

}
/**********/

/****************************/

/****************************/

/* FOOTER */

footer {
  background-color: #F6F6F6;
  padding: 15px 0 30px;
  width: 100%;
  text-align: center;
  margin-bottom: -5px;
}

footer p {
  color: #000;
}

/****************************/

/*+++++MEDIA QUERIES+++++*/

/*Bij de aangegeven max-width wordt de code uitgevoerd!*/

/*Desktop en laptop*/

@media (max-width:80em) {
  section:nth-child(4) ul li {
    width: 50%;
  }
  section:nth-child(3) .filter {
    display: block;
  }
  main h2 {
    display: block;
    color: #000;
  }
  aside {
    display: none;
  }
  main, aside {
    width: 100%;
  }
  .resultaten {
    display: none;
  }
}

/*tablets landscape mode*/

@media (max-width:60em) {
  nav ul li {
    width: 50%;
  }
  .halfblock {
    width: 100%;
  }
  section:nth-child(4) ul li {
    width: 50%
  }
  section:nth-child(2) .block {
    display: unset;
  }
  section:nth-child(2) .block .halfblock:first-child,
  section:nth-child(2) .block .halfblock:last-child {
    border-radius: 1em;
    margin: 3em 0;

  }
}

/*tablets portrait mode*/

@media (max-width:50em) {
  .container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .section_overzichtpagina_1 h1 {
    text-align: center;
  }
}

/*mobile */

@media (max-width:40em) {
  section:nth-child(4) ul li {
    width: 100%;
  }
}

/****************************/

/*+++++++++++++++++++++++*/
