/*Import Google Fonts*/

/****************************/

/* Preset codes toepasbaar voor elke pagina*/

* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: "Trebuchet MS";
}

body {
  margin: 0;
}

ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
}

section {
  padding: 1em;
  width: 100%;
  margin: 0;
}

p {
  margin: 0;
  font-size: 1em;
  font-family: "Trebuchet MS";
}

img {
  width: 100%;
}

button {
  font-weight: bold;
}

/****************************/

/* Headings font en kleur */

h1, h2, h3 {
  font-family: "Trebuchet MS";
  color: #000;
  font-weight: bold;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  margin: 0;
  color: #00D66C;
}

h3 {
  font-size: 1.2em;
}

main {
  max-width: 75em;
}

#index main h2 {
  display: none;
}

main section ul {
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 25em;
  padding: 1em;
}

label {
  display: flex;
  flex-flow: wrap;
  line-height: 1.5em;
  color: #000;
}

fieldset {
  border: none;
  padding: 0.5em 0em 1.5em;
}

/****************************/

/* HEADER*/

header {
  background-color: #fff;
  padding: 1em;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid #000;
}

nav {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1em;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav li:last-child {
  display: flex;
  flex-direction: row-reverse;
}

nav ul li:first-child p:last-child {
  display: none;
}

header img {
  width: 12.500em;
  padding: 0.2em;
}

header li:nth-child(2) a img, header li:last-child img {
  padding: 0.7em;
  width: 3em;
  margin: auto;
}

header li:nth-child(2) a, header li:last-child a {
  background-color: #00D56E;
  border-radius: 50%;
  display: inherit;
  width: 3em;
  transition: 0.3s;
  height: 3em;
  margin: 0 auto;
  z-index: 999;
}

header li:nth-child(2) a:hover, header li:last-child a:hover {
  background-color: #2800A0;
}

.navfav {
  transition: all 0.7s;
  margin: 0 auto;
  z-index: 2;
}

.navfav.favactive, .navdownload.downloadactive {
  position: relative;
  transition: all 0.7s;
  opacity: 1;
}

.navfav::after, .navdownload::before {
  background-image: none;
  background-repeat: no-repeat;
  background-size: 0.8em;
  transition: all 0.7s;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  max-width: 6em;
  margin: 0 auto;
  z-index: -1;
}

.navdownload::before {
  background-position: 100% 0em;
}

.navfav.favactive::after {
  opacity: 1;
  background-image: url(" images/iconen/starliked.svg");
  transform: rotate(360deg);
  z-index: -1;
}

.navdownload.downloadactive::before {
  opacity: 1;
  background-image: url(" images/iconen/vinkje.svg");
  transform: rotate(-360deg);
}

/****************************/

/*filter*/

legend {
  font-weight: bold;
  font-size: 1.3em;
  width: 100%;
}

form button {
  background-color: #FF3268;
  border-radius: 1em;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 3px #000;
  transition: 0.3s ease 0s;
  border-color: transparent;
}

#index section:nth-child(3)>button img {
  padding: 0.4em;
}

form button:hover {
  background-color: #A72044;
}

/****************************/

/****************************/

/*+++++++INDEX PAGINA+++++++*/

/* SECTION 1*/

#index>section:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/afbeeldingen/proejctwebbanner.gif);
  background-position: center;
  background-size: cover;
  padding: 4.375em 0;
  min-height: 25em;
}

#index>section:nth-child(2)>ul {
  display: flex;
  max-width: 75em;
  margin: 0 auto;
  flex-direction: row;
}

#index>section:nth-child(2)>ul li {
  width: 50%;
  padding: 0 1em;
}

#index>section:nth-child(2) h1 {
  color: #fff;
  text-align: left;
  padding: 1em 0em 0em;
}

#index>section:nth-child(2) article img {
  margin: 0 0 -8px 0;
}

#index>section:nth-child(2) article {
  max-width: 25.8em;
  margin-left: auto;
}

/****************************/

/* SECTION 2*/

#index section:nth-child(3) {
  max-width: 75em;
  margin: 0 auto;
  grid-template-columns: auto auto;
  padding: 3em 2em 2em;
  display: grid;
}

#index section:nth-child(3) form label {
  /*! display: block; */
}

#index section:nth-child(3) form {
  display: flex;
  flex-direction: row-reverse;
}

#index section:nth-child(3) label p {
  display: none;
}

/*+++++++Searchbar+++++++*/

#zoekmachine input {
  font-size: 1.3em;
  background-color: #2800A0;
  background-image: url("images/iconen/zoek.svg");
  background-size: 1.3em;
  background-repeat: no-repeat;
  background-position: 1.3em;
  border-radius: 1rem;
  border: none;
  width: 2.7em;
  padding: 1em 2em;
  margin-left: 2em;
  height: 1.5em;
  transition: all 0.5s;
  color: #fff;
}

#zoekmachine input::placeholder {
  font-size: 0.65em;
  font-weight: bold;
}

#zoekmachine input:focus {
  border-radius: 3rem;
  width: 10em;
  padding: 1em 1em 1em 3em;
}

#zoekmachine input:hover {
  background-color: #5E40B8;
}

/*++++++++++++++*/

#index section:nth-child(3) input {
  border-radius: 1em;
}

#index section:nth-child(3) .sortfilter.sortfilteractive input {
  height: 1em;
}

#index section:nth-child(3)>button {
  display: none;
}

#index section:nth-child(3)>form:nth-child(3) {
  /*! overflow: hidden; */
}

#index section:nth-child(3) .sortfilter {
  max-width: 75em;
  height: auto;
  /*! transition: 0.3s ease-in; */
  display: grid;
  grid-template-columns: auto auto auto;
  opacity: 0;
  border: 2px solid #000;
  margin: 1em auto;
  border-radius: 1em;
  color: blue;
  padding: 1em;
  position: absolute;
  /* left: -50em; */
  z-index: -1;
  background-color: #EFE2D3;
}

#index section:nth-child(3) .sortfilteractive {
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  /* left: 0em; */
  margin-top: 4em;
  z-index: 1;
}

#index section:nth-child(3) .sortfilter button {
  max-width: 9em;
}

/****************************/

/* SECTION 3*/

main, #fav main {
  max-width: 75em;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

#index main form, #fav main form {
  background-color: #F3E5D8;
  color: #2800A0;
  min-height: 29em;
  border-radius: 1em;
  padding: 1em;
  border: 3px solid #F3E5D8;
}

main section, #fav main {
  padding: 0;
}

main h2 {
  text-align: center;
  padding: 0 15px;
  color: #000;
  width: 100%;
}

main ul li, #index>section:nth-child(2) article ul li {
  width: 50%;
  padding: 1em;
}

main footer li:nth-child(2), #fav main footer li:nth-child(2) {
  /*! border-left: 3px solid #000; */
  /*! border-right: 3px solid #000; */
}

main ul li article, #fav main ul li article, #index>section:nth-child(2) article {
  height: 22.4em;
  padding: 0;
  text-align: center;
  position: relative;
  /*! border: 3px solid transparent; */
  background-size: cover;
  transition: 0.3s ease 0s;
  border-radius: 1em;
  width: 100%;
  background-color: #00D66C;
}

main ul li article img, #fav main ul li article img, #index>section:nth-child(2) img {
  object-fit: cover;
  height: 13.4em;
  margin: 0 0-4px 0;
  padding: 0;
  position: relative;
}

main ul li article h3, #fav main ul li article h2, #index>section:nth-child(2) article h2 {
  color: #fff;
  font-size: 1.4em;
  text-align: left;
  padding: 1em;
  position: relative;
  transition: all 0.3s;
  display: inherit;
  margin: 0;
  z-index: 1;
}

main ul li article:hover h3, #fav main ul li article:hover h2, #index>section:nth-child(2) article:hover h2 {
  margin-left: 1em;
}

main ul li article>p, #fav main ul li article>p, #index>section:nth-child(2) article>p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.6em;
  top: 0;
  color: transparent;
}

main ul li article p a, #fav main ul li article p a, #index>section:nth-child(2) article p a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: transparent;
}

main ul li article p a:hover, #fav main ul li article p a:hover, #index>section:nth-child(2) article p a:hover {
  transform: scale(1.01, 1.01);
}

footer ul li, #fav section:nth-child(4) footer ul li, #index>section:nth-child(2) article footer ul li {
  width: 100%;
}

footer li:first-child {
  background-color: #FF3268;
  border-radius: 0em 0em 0em 1em;
}

footer li:nth-child(2) {
  background-color: #FF3268;
  border-radius: 0em 0em 0em 0em;
}

footer li:last-child {
  background-color: #FF3268;
  border-radius: 0em 0em 1em 0em;
}

main ul li article footer img, #fav main ul li article footer img, #index>section:nth-child(2) article footer img {
  width: 1.5em;
  height: 1.5em;
}

main ul li article footer ul li button:hover, #fav main ul li article footer ul li button:hover {}

main ul li article footer ul li button, #fav main ul li article footer ul li button, #index>section:nth-child(2) article footer ul li button {
  color: transparent;
  position: relative;
  width: 1em;
  height: 1em;
  text-align: center;
  background-position: center;
  margin: 0.1em auto;
  padding: 0.8em;
  transition: all 0.3s;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: none;
  background-repeat: no-repeat;
  outline: none;
}

main ul li article footer ul li:nth-child(2) button, #fav main ul li article footer ul li:nth-child(2) button, #index>section:nth-child(2) article footer ul li:nth-child(2) button {
  background-image: url(" images/iconen/star.svg");
}

main ul li article footer ul li:nth-child(3) button, #fav main ul li article footer ul li:nth-child(3) button, #index>section:nth-child(2) article footer ul li:nth-child(3) button {
  background-image: url(" images/iconen/download.svg");
}

main ul li article footer ul li button:active, #fav main ul li article footer ul li button:active, #index>section:nth-child(2) article footer ul li button:active {
  border-radius: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  transform: rotate(360deg);
}

main ul li article footer ul li:nth-child(2) button:active, #fav main ul li article footer ul li:nth-child(2) button:active, #index>section:nth-child(2) article footer ul li:nth-child(2) button:active {
  background-image: url(" images/iconen/starliked.svg");
  background-size: 1.7em;
}

main ul li article footer ul li:nth-child(3) button:active, #fav main ul li article footer ul li:nth-child(3) button:active, #index>section:nth-child(2) article footer ul li:nth-child(3) button:active {
  background-image: url(" images/iconen/vinkje.svg");
  background-color: #fff;
}

main footer ul, #fav main footer ul, #index>section:nth-child(2) article footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 1em 1em;
}

main footer ul li, #index>section:nth-child(2) article footer ul li {
  width: 100%;
}

main footer b, #index>section:nth-child(2) article footer ul {
  position: relative;
  top: 0.2em;
}

#index main div {
  /*! background-color: #F3E5D8; */
  text-align: right;
  position: relative;
  margin: 0 auto;
  max-width: 75em;
  padding: 0em 1em 2em;
}

#index main div button {
  border-radius: 1em;
  padding: 15px 25px;
  background-color: #2800A0;
  color: #fff;
  border-color: transparent;
  box-shadow: 2px 3px #000;
  transition: all 0.3s;
}

#index main div button:hover {
  background-color: #5E40B8;
}

/****************************/

/*Favoreiten*/

#fav {
  background-color: #F3E5D8;
}

#fav main h1 {
  text-align: center;
  padding: 0em 1em;
  color: #2800A0;
}

#fav main ul li {
  width: 33.33%;
  padding: 1em;
  margin: 0 auto;
}

#fav main footer li {
  width: 100% !important;
}

/****************************/

/*+++++++inloggen++++++++*/

#inloggen {
  background-color: #00D66C;
  min-height: 61em;
}

#inloggen main {
  padding-bottom: 5em;
  max-width: 75em;
  margin: 0 auto;
  color: #000;
  padding: 5.6em 1em;
  margin: 0 auto;
  min-height: 30.625em;
  display: flex;
  flex-direction: row;
}

#inloggen main section {
  border-radius: 1em 0em 0em 1em;
  background-color: #FFFFFF;
}

#inloggen main aside {
  border-radius: 0em 1em 1em 0em;
  background-color: #F5F8FA;
  color: #000;
}

#inloggen main section, #inloggen main aside {
  display: flex;
  flex-direction: column;
}

#inloggen main section, #inloggen main aside {
  min-height: 31.250em;
  padding: 1em 2em;
  padding-bottom: 3em;
  width: 50%;
}

#inloggen form i {
  display: flex;
  padding: 0 0 2em;
}

#inloggen main hr {
  border-color: #f6f6f6;
  width: 100%;
  margin-bottom: 2.5em;
}

#inloggen main label {
  display: grid;
  padding: 1em 0em;
  font-weight: bold;
  color: #000;
}

#inloggen main h1 {
  color: #2800a0;
  margin: 1em 0;
  font-size: 2em;
}

#inloggen main fieldset {
  color: transparent;
}

#inloggen main .wwvergeten {
  padding-bottom: 2.5em;
}

#inloggen main fieldset p {
  color: #3e3e3e;
  font-style: italic;
  font-size: 0.8em;
}

#inloggen input {
  padding: 0.9em;
  border-radius: 0.5em;
  margin-top: 1.2em;
  border-color: #000;
  z-index: 2;
  transition: all 0.5s;
}

#inloggen input:focus {
  background-color: #bed4f1;
  transform: scale(1.01, 1.01);
}

#inloggen input:invalid {
  border-color: #FF9595;
}

#inloggen input:disabled {
  border-color: #eee;
  background-color: #f9f9f9;
}

/*+++++++Verhaal +++++++*/

#verhaal header {
  position: fixed;
}

#verhaal section {
  padding: 0;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  top: 5em;
}

#verhaal section img:first-child {
  top: 0em;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

#verhaal section img:nth-child(4) {
  display: none;
}

#verhaal section img:last-child {
  display: none;
}

/****************************/

/* FOOTER */

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
}

footer p {
  color: #fff;
}

/****************************/

/*+++++MEDIA QUERIES+++++*/

/*Bij de aangegeven max-width wordt de code uitgevoerd!*/

/*Desktop en laptop*/

@media (max-width:80em) {
  header {
    position: fixed;
  }
  h1 {
    font-size: 3em;
  }
  main h2 {
    display: inherit;
    text-align: center;
  }
  main ul li, #fav section:nth-child(4) ul li {
    width: 33.33%;
  }
  #index>section:nth-child(2) {
    padding: 9.375em 0 4.375em;
  }
  #index aside {
    display: none;
  }
  #index section:nth-child(3) .halfblock:first-child form {
    display: initial;
  }
  #index section:nth-child(3)>h2 {
    text-align: center;
    font-size: 2.6em;
  }
  #index section:nth-child(3)>button {
    display: inherit;
    width: 3em;
    padding: 0;
    height: 3em;
    z-index: 1;
    background-color: #FF3268;
    border-radius: 1em;
    border-color: transparent;
    position: relative;
    top: 3.1em;
  }
  #index section:nth-child(3)>button:hover {
    background-color: #EB5A80;
  }
  #index>section:nth-child(2)>form:nth-child(2) {
    display: block;
  }
  #index section:nth-child(3) {
    max-width: 75em;
    margin: 0 auto;
    grid-template-columns: unset;
    padding: 3.125em 1em 0;
  }
  #inloggen main, aside {
    width: 100%;
  }
  #verhaal section {
    max-width: 100%;
  }
}

/*tablets landscape mode*/

@media (max-width:60em) {
  #verhaal section {
    top: 5.6em;
  }
  #index section:nth-child(3) {
    position: relative;
    padding-top: 105px;
  }
  #index>section:nth-child(2) li {
    max-width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0 1em;
  }
  #index>section:nth-child(2) article {
    margin: auto;
  }
  nav ul li {
    width: 100%;
  }
  header img {
    width: 3.3em;
    padding: 0;
  }
  nav ul li:first-child p:first-child {
    display: none;
  }
  nav ul li:first-child p:last-child {
    display: unset;
  }
  main ul li, #fav section:nth-child(4) ul li {
    width: 50%;
  }
  #inloggen main {
    flex-direction: column;
  }
  #inloggen main section, #inloggen main aside {
    width: 100%;
    margin: 2em 0;
  }
  #inloggen main section, #inloggen main aside {
    border-radius: 1em;
    margin: 3em 0;
  }
  #verhaal section img:nth-child(3) {
    display: none;
    height: 0;
  }
  #verhaal section img:nth-child(4) {
    display: block;
  }
  #fav main ul li {
    width: 50%;
  }
  #fav main h1 {
    margin-top: 3em;
  }
  .navdownload::before {
    background-position: 100% 0em;
  }
}

/*tablets portrait mode*/

@media (max-width:50em) {
  #index>section:nth-child(2) {
    padding: 4.375em 0 4.375em;
  }
  #index>section:nth-child(2)>ul {
    flex-direction: column;
  }
  #index>section:nth-child(2)>ul li {
    width: 100%;
    padding: 0 1em;
  }
  #index>section:nth-child(2) h1 {
    text-align: center;
  }
  main ul li article, #fav main ul li article {
    max-width: 25em;
    margin: 0 auto;
  }
}

/*mobile */

@media (max-width:40em) {
  main ul li, #fav main ul li {
    width: 100%;
    margin: 0 auto;
  }
  #index div {
    text-align: center;
  }
  #verhaal section img:nth-child(4) {
    display: none;
    height: 0;
  }
  #verhaal section img:last-child {
    display: block;
  }
  footer ul li {
    margin: 0 auto;
  }
  #index section:nth-child(3) .sortfilter {
    grid-template-columns: auto;
  }
}

/****************************/

/*+++++++++++++++++++++++*/
